/* Navigation */
.navbar {
    background-color: #3AC4FF;
}

.navbar a {
    color: #2E3F41;
}


/* End Navigation */


/* Body Background */
body {
    background-color: #FFFFFC;
}
/* End Body Background */


#summary-block {
    color: black;
}

#technical-skills {
    background-color: #3AC4FF;
}

.landing-block {
    background-color: #EDEDED;
}

.landing-block p {
    color: #5D6163;
}

.experience-heading {
    background-color: #DCEEEF;
    /*background-color: #EFF0D1;*/
}

.active-experience-li div{
    background-color: #3AC4FF;
}

#Contact-Title {
    color: #1A2331;
    background-color: #3AC4FF;
}

#Contact-Body {
    background-color: #DCEEEF;
}