#summary h1, #education h1 {
    position: relative; 
    float: left;
}

.intro-container-icons {
    position: relative;
    float: right;
}
#technical-skills li {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
}

#desktop-img {
    height: 100%;
    max-width: 100%;
}

.experience-li {
    list-style: none;
}


.experience-heading {
    width: 100%;
    margin: 0px auto;
}


.experience-date {
    position: absolute;
}

.experience-date p {
    display: inline;
}

#Contact-Title h1 {
    position: relative;
}
.Contact-Item {
    margin-bottom: 1em;
}
.Contact-Item p {
    margin-left: 1em;
    display: inline;
}

#Contact-Form input[type="submit"] {
    position: relative;
    float: right;
}

@media only screen and (max-width: 767px)
{
    .row {
        margin-top: 5em;
        margin-bottom: 5em;
    }

    .intro-container, #summary {
        padding: 1.5em;
        border-radius: 0.8em;
        margin-top: 3em;
    }

    .intro-container-icons {
        height: 2em;
    }

    #technical-skills li {
        padding: 0.5em;
        border-radius: 0.5em;
        margin: .5em;
    }

    ul, .row {
        margin: 0;
        padding: 0px;
        width: 100%;
    }
    .experience-li {
        width: 100%;
        margin-top: 3em;
    }

    .experience-heading {
        padding: 2em 1em 1em 1em;
        height: 10em;
        border-radius: 1em;
    }

    .experience-date {
        bottom: 1em;
        right: 2em;
    }
    .experience-date p {
        bottom: 0.1em;
    }

    .experience-body {
        display: none;
    }

    #leopard-pic {
        margin-top: 5em;
        width: 90%;
        position: relative;
        bottom: -0.3em;
    }

    #laptop-pic {
        display: none;
    }

    #Contact-Title {
        padding-top: 2em;
        height: 5em;
        border-radius: 0.5em 0.5em 0em 0em;
    }

    #Contact-Body {
        width: 100%;
        padding: 1.5em;
        border-radius: 0em 0em 0.5em 0.5em;
    }

    .Contact-Item {
        margin-bottom: 1em;
    }

    #Contact-Form {
        margin-top: 3em;
        margin-bottom: 3em;
        width: 20em;
    }


    #Contact-Form label {
        font-size: 0.8em;
        width: 5em;
        text-align: right;
        margin-right: 1em;
        margin-bottom: 2em;
    }

    #Contact-Form input, #Contact-Form textarea {
        padding: 0.1em;

        width: 10em;
    }

    #Contact-Form input[type="submit"] {
        position: relative;
        width: 5em;
        right: 5em;
        
    }

}
@media only screen and (min-width: 768px) {
    
    .row {
        margin-top: 6em;
        margin-bottom: 6em;
    }
    .intro-container{
        padding: 1em;
        border-radius: 0.8em;
        margin-bottom: 1.5em;
    }
    #summary {
        position:relative;
    }
    #education {
        position: relative;
        left: 20%;
        width: 80%;
    }

    .intro-container-icons {
        height: 3em;
        top: -0.2em;
    }

    #technical-skills {
        position: relative;
        height: auto;
        width: 100%;
    }

    #technical-skills li {
        padding: 0.5em;
        border-radius: 0.5em;
        margin: .5em;
    }

    .experience-date {
        margin-top: 3em;
    }
    .experience-date p {
        position: relative;
        top: 0.1em;
    }

    .experience-li {
        position: relative;
        display: inline-block;
        padding: 1em;
        border-radius: 0.5em;
    }

    .experience-heading {
        position: relative;
        border-radius: 0.8em;
        padding: 2em 1em 1em 2em;
        height: 15em;
    }

    .experience-date {
        position: absolute;
        right: 2em;
        bottom: 2em;
    }

    .experience-body {
        border-radius: 0 0 0.8em 0.8em;
        padding: 2em;
        line-height: 150%;
        font-size: 0.8em;
    }

    #leopard-pic {
        width: 90%;
        position: relative;
        bottom: -0.3em;
    }

    #laptop-pic {
        padding-top: 10em;
        width: 100%;
    }

    #Contact-Title {
        padding-top: 2em;
        height: 5em;
        border-radius: 0.5em 0.5em 0em 0em;
    }

    #Contact-Body {
        width: 100%;
        padding: 3em;
        border-radius: 0em 0em 0.5em 0.5em;
    }

    #Contact-Body p {
        margin-bottom: 3em;
    }

    #Contact-Form {
        padding: 3em;
        width: 35em;
    }
    #Contact-Form label {
        width: 10em;
        text-align: right;
        margin-right: 2em;
        margin-bottom: 2em;
    }

    #Contact-Form input, #Contact-Form textarea {
        padding: 0.3em;
        width: 15em;
    }

    #Contact-Form input[type="submit"] {
        margin-top: 1em;
        right: 1.75em;
        width: 5em;
    }

}


@media (min-width: 992px) and (max-width: 1199px) {
    #laptop-pic {
        display: none;
    }
    #Contact-Form {
        padding: 0em;
        width: 35em;
        margin-bottom: 2em;
    }
    #Contact-Form input[type="submit"] {
        margin-right: 6em;
    }
}