.block {
    position: relative;
    display: inline-block;
    width: 100%;
}
.block_header {
}

.block_content {
    padding: 1em;
}

.block_footer {
    position: absolute;
}

.block_footer p {
    display: inline;
}

/* Mobile */
@media only screen and (max-width: 767px)
{
    .block {
        padding: 1.5em;
        border-radius: 0.8em;
        margin-top: 3em;
    }

    .block_footer {
        bottom: 1em;
        right: 2em;
    }
    .block_footer p {
        bottom: 0.1em;
    }
}
/* END Mobile */

/* Medium & Large Devices */
@media only screen and (min-width: 768px) {

    .block {
        padding: 1em;
        border-radius: 0.8em;
        margin-bottom: 1.5em;
    }

    .block_footer {
        margin-top: 3em;
    }

    .block_footer p {
        position: relative;
        top: 0.1em;
    }

    .block_footer {
        position: absolute;
        right: 2em;
        bottom: 2em;
    }

    .block {
        height: 250px;
    }
}
/* END Medium & Large Devices */