.block {
    position: relative;
    display: inline-block;
    width: 100%;
}

.block-header {
    font-family: 'Raleway', sans-serif;
	position: relative;
	width: 100%;
}

.block-header-left {
    max-width: 80%;
    position: relative;
    float: left;
}

.block-header-right {
    position: relative;
    float: right;
    padding-top: 0.15em;
    font-size: 1.5em
}

.block_content {
    clear: both;
    padding: 1em;
}

/* Mobile */
@media only screen and (max-width: 767px)
{
    .block {
        padding: 1.5em;
        border-radius: 0.8em;
        margin-top: 3em;
    }
}
/* END Mobile */

/* Medium & Large Devices */
@media only screen and (min-width: 768px) {

    .block {
        padding: 1em;
        border-radius: 0.8em;
        margin-bottom: 1.5em;
    }
}
/* END Medium & Large Devices */
