
.contact-email {
	border-bottom: 3px solid #4CE0D2;
}

#contact img {
	height: 5em;margin-left: 1em;
}

@media only screen and (min-width: 768px)
{
	#contact p {
		font-size: 200%;
	}

	#contact {
		padding-bottom: 10em;
	}
}


@media only screen and (max-width: 767px)
{
	#contact {
		margin-top: 5em;
	}

	#contact p {
		font-size: 90%;
	}
}
