
@media only screen and (min-width: 768px)
{
	#contact h3 {
		color: #555;
		font-size: 400%;
	}

	#contact p {
		font-size: 200%;
		text-align: right;
	}

	.contact-email {
		border: 1px solid black;
		padding: 5px;
		border-radius: 25px;
		background-color: #4CE0D2;
	}
}


@media only screen and (max-width: 767px)
{
	#contact {
		margin-top: 5em;
	}
	#contact h3 {
		color: #555;
		font-size: 100%;
	}

	#contact p {
		font-size: 90%;
		text-align: right;
	}

	.contact-email {
		border: 1px solid black;
		padding: 5px;
		border-radius: 25px;
		background-color: #4CE0D2;
	}
}
