#technical-skills ul {
    clear:both;
}
#technical-skills li {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
}

#desktop-img {
    height: 100%;
    max-width: 100%;
}

#interests ul {
    list-style: none;
}

#interests li {
    margin-bottom: 0.7em;
}

#interests li i, #interests p {
    display: inline;
}


/* Mobile */
@media only screen and (max-width: 767px)
{

    #technical-skills li {
        border-radius: 0.5em;
        margin: .5em;
    }

    #desktop-img {
        display: none;
    }
}
/* END Mobile */




/* Medium & Large Devices */
@media only screen and (min-width: 768px) {
    
    
    #summary-block {
        position:absolute;
        top: 0px;
        right: 0px;
    }
    #interests {
        position: absolute;
        right: 0px;
        bottom: 0%;
    }

    

    #technical-skills {
        position: relative;
        height: auto;
        width: 100%;
    }

    #technical-skills li {
        padding: 0.5em;
        border-radius: 0.5em;
        margin: .25em;
    }
}
/* END Medium & Large Devices */